{{extend 'layout.html'}}
	<div align="center">
			RCPrep.com is your ideal RC preparation utility. It mimics the real
			time test environment. It contains Passage from fields like
			Philosophy, Biology, and Technology etc. <br /> <br /> Apart from
			helping Aspirants cracking the RC section of the Test, It will also
			help Instructors and students in creating new passages and in a way
			will expose the students to a wide-range of topics that appear
			frequently on Standard Tests. <br /> <br /> We hope this will help
			you in your preparation. <br /> Best Wishes, <br />Team HRB.
	</div>