{{extend 'layout.html'}}
	<div align="center">
			RCPrep.com welcomes your comments, especially comments on how we can
			improve our Web site. <br /> <br />We strive to respond to every
			comment with an answer or an appropriate referral as quickly as
			possible.<br /> Most comments will be responded to within 10 business
			days. <br />Please help us answer your request by including a correct
			e-mail address. <br /> <br /> <strong>If you are referring to a
				specific Passage, please include the first line. You can e-mail your
				comment to us at rcprepdotcom@gmail.com</strong>
	</div>