<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>RC Prep - Ideal Test Simulator For The RC Section Found On All Standard Tests.</title>
	<link rel="icon" type="image/png" href="{{=URL('static','images/favicon.png')}}" />
	<link rel="stylesheet" href="{{=URL('static','css/customstyles.css')}}" type="text/css"/>
</head>
<body>
	<div align="center">
		<img src="{{=URL('static','images/Logo_Small.png')}}" /> 
		<br/>
			Learn, contribute and share. 
		<br/>
		RCPrep.com is your free reading comprehension simulator which will help you prepare 
		for the reading comprehension section found in GMAT, GRE, TOEFL, SAT, CAT. 
		<br/>
		<br/> 
		<a href="passages.php" class="basicToolTip">
			<img src="{{=URL('static','images/passages.png')}}" />
			<span>
				By clicking the passages button, a timer will start and you will get a random passage. Get Ready !
			</span>
		</a>
		<a href="login.php"><img src="{{=URL('static','images/author.png')}}" /></a> &nbsp; 
		<a href="contactus.html"><img src="{{=URL('static','images/contact.png')}}" /></a>&nbsp; 
		<a href="updates.html"><img src="{{=URL('static','images/Notify_green.png')}}" /></a>&nbsp; 
		<a href="about.html"><img style="border: none;" src="{{=URL('static','images/about.png')}}"/></a>
	</div>
</body>

<br/>
{{include 'footer.html'}}

</html>