{{extend 'layout.html'}}

<div align="center">

<p>12/09/2014 - Added a 'solved passage history feature'. Check it out at the drop down at the top right of the page, when you're logged in.</p>

<p>07/09/2014 - RCPrep V2 is up ! The website has been migrated to a new engine and includes cool new features: 
    <br/><b>1. Auto-Registration : </b> Fill out a simple form to get an author account.
    <br/><b>2. Stats :</b> Once enough users finish solve a passage, we will be able to display stats as well info about where you stand.
    <br/><b>3. More Variety of Passages : </b> Users can add their own passages to the website and share with anyone else. The type of passages that can be produced has been expanded. You can now add videos and pictures to your passages thereby making it way more interactive.</p>

<p>01/05/2014 - New Passages added.</p>

<p>14/02/2013 - Line spacing issues fixed, UI Improvement.</p>

<p>02/02/2013 - New passages added to the database. Explanations will be given if and only if we get a user Request(via Email).</p>

<p>21/01/2013 - UI Update, Fixed the Line Spacing issues.</p>

<p>30/12/2012 - A new home page has been added which contains the website logo and links to all pages.<br />
</div>
