{{extend 'layout.html'}}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['A', 11],
          ['B', 2],
          ['C', 2],
          ['D', 2],
          ['E', 7]
        ]);

        var options = {
          legend: 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>

<div align="center">
{{=XML(resultsContent)}}
</div>

<div class="CSSTableGenerator">
	<table>
		<tr>
			<td>Passage</td>
			<td>Questions</td>
		</tr>
		<tr>
			<td>
				<div style="overflow: auto; height: 500px">
				{{=XML(passageContent)}}
				</div>
			</td>
			<td>
				<div style="overflow: auto; height: 500px">
				{{=XML(questionContent)}}
				</div>
			</td>
		</tr>
	</table>
</div>

<br/><br/>

<div align='center'>
	<font style='BACKGROUND-COLOR: #ED534F'>  &nbsp &nbsp </font>&nbsp - represents your answer which was wrong.<br/>
	<font style='BACKGROUND-COLOR: #73D549'>  &nbsp &nbsp  </font> &nbsp - represents your answer which was correct.<br/>
	<font style='BACKGROUND-COLOR: #F7E259'>  &nbsp &nbsp </font> &nbsp - represents the correct answer.<br/>
	<br/>
	<div class="SmallButton">
		<a href="{{=URL('passages','solvePassage')}}" >Click here to solve another passage</a>
	</div>
</div>