{{extend 'layout.html'}}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
    	{{
    		count = 1
    		for answerDict in answerDicts:
    			idName = "question" + str(count) + "Chart"
    	}}
	        var data = google.visualization.arrayToDataTable([['Option', 'Percentage'],
			          ['A', {{=answerDict["A"]}}],
			          ['B', {{=answerDict["B"]}}],
			          ['C', {{=answerDict["C"]}}],
			          ['D', {{=answerDict["D"]}}],
			          ['E', {{=answerDict["E"]}}],
			          ['N/A', {{=answerDict["N/A"]}}]
	        	]);
	
	        var options = {legend: 'none'};
	
	        var chart = new google.visualization.PieChart(document.getElementById('{{=idName}}'));
	        chart.draw(data, options);
        {{
        	count += 1
        	pass
        }}
      }
    </script>
    
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=155359177889157&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    

<div align="center">
{{=XML(resultsContent)}}
</div>

<div class="CSSTableGenerator">
	<table>
		<tr>
			<td>Passage</td>
			<td>Questions</td>
		</tr>
		<tr>
			<td>
				<div style="overflow: auto; height: 500px">
				{{=XML(passageContent)}}
				</div>
			</td>
			<td>
				<div style="overflow: auto; height: 500px">
				{{=XML(questionContent)}}
				</div>
			</td>
		</tr>
	</table>
</div>

<br/><br/>

<div align='center'>
	<font style='BACKGROUND-COLOR: #ED534F'>  &nbsp &nbsp </font>&nbsp - represents your answer which was wrong.<br/>
	<font style='BACKGROUND-COLOR: #73D549'>  &nbsp &nbsp  </font> &nbsp - represents your answer which was correct.<br/>
	<font style='BACKGROUND-COLOR: #F7E259'>  &nbsp &nbsp </font> &nbsp - represents the correct answer.<br/>
	Liked the passage ? Share it with others : 
	<input type="text" value="{{=URL('passages','solvePassage',vars=dict(passageId = request.vars.passageId), scheme = True)}}" readonly/>
	<br/>
	<div class="SmallButton">
		<a href="{{=URL('passages','solvePassage')}}" >Click here to solve another passage</a>
	</div>
</div>

