{{extend 'layout.html'}}

{{=form.custom.begin}}
<input name="passageId" type="hidden" value="{{=passageId}}"/>
<input name="startTime" type="hidden" value="{{=startTime}}"/>
	<div class="CSSTableGenerator">
		<table>
			<tr>
				<td>Passage</td>
				<td>Questions
				<div id="timeElapsed">Time Elapsed : 00:00</div>
				</td>
			</tr>
			<tr>
				<td>
					<div style="overflow: auto; height: 500px">
					{{=XML(passageContent)}}
					</div>
				</td>
				<td>
					<div style="overflow: auto; height: 500px">
					{{=XML(questionContent)}}
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="SubmitButton">
		{{=form.custom.submit}}
	</div>

{{=form.custom.end}}

<script type="text/javascript">
var timeElapsed = document.getElementById("timeElapsed");
var totalSeconds = 0;
setInterval(setTime, 1000);

function setTime()
{
	++totalSeconds;
	timeElapsed.innerHTML = "Time Elapsed : " + pad(parseInt(totalSeconds/60)) + ":" + pad(totalSeconds%60);
}

function pad(val)
{
	var valString = val + "";
	if(valString.length < 2)
	{
		return "0" + valString;
	}
	else
	{
		return valString;
	}
}
</script>